blockquote {
    border-left: 2px solid;
    padding-left: 20px;
}

hr {
    border-width: 0;
    border-bottom-width: 1px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}

ol {
    list-style: decimal;
}

ol, ul {
    padding-left: 30px;
}